YourHomeBar/bin/Debug/AppX/GroupedItemsPage.xbf
YourHomeBar/bin/Debug/AppX/ItemDetailPage.xbf
YourHomeBar/bin/Debug/AppX/vs.appxrecipe
YourHomeBar/bin/Debug/AppX/YourHomeBar.exe
YourHomeBar/bin/Debug/GroupedItemsPage.xbf
YourHomeBar/bin/Debug/ItemDetailPage.xbf
YourHomeBar/bin/Debug/YourHomeBar.exe
YourHomeBar/bin/Debug/YourHomeBar.pdb
YourHomeBar/obj/Debug/GroupedItemsPage.g.cs
YourHomeBar/obj/Debug/GroupedItemsPage.g.i.cs
YourHomeBar/obj/Debug/GroupedItemsPage.xaml
YourHomeBar/obj/Debug/GroupedItemsPage.xbf
YourHomeBar/obj/Debug/intermediatexaml/YourHomeBar.exe
YourHomeBar/obj/Debug/intermediatexaml/YourHomeBar.pdb
YourHomeBar/obj/Debug/ItemDetailPage.g.cs
YourHomeBar/obj/Debug/ItemDetailPage.g.i.cs
YourHomeBar/obj/Debug/ItemDetailPage.xaml
YourHomeBar/obj/Debug/ItemDetailPage.xbf
YourHomeBar/obj/Debug/XamlSaveStateFile.xml
YourHomeBar/obj/Debug/XamlTypeInfo.g.cs
YourHomeBar/obj/Debug/XamlTypeInfo.g.cs.backup
YourHomeBar/obj/Debug/YourHomeBar.csproj.FileListAbsolute.txt
YourHomeBar/obj/Debug/YourHomeBar.exe
YourHomeBar/obj/Debug/YourHomeBar.pdb
YourHomeBar/bin/Debug/AppX/GroupedItemsPage.xbf
YourHomeBar/bin/Debug/AppX/ItemDetailPage.xbf
YourHomeBar/bin/Debug/AppX/vs.appxrecipe
YourHomeBar/bin/Debug/AppX/YourHomeBar.exe
YourHomeBar/bin/Debug/GroupedItemsPage.xbf
YourHomeBar/bin/Debug/ItemDetailPage.xbf
YourHomeBar/bin/Debug/YourHomeBar.exe
YourHomeBar/bin/Debug/YourHomeBar.pdb
YourHomeBar/obj/Debug/GroupedItemsPage.g.cs
YourHomeBar/obj/Debug/GroupedItemsPage.g.i.cs
YourHomeBar/obj/Debug/GroupedItemsPage.xaml
YourHomeBar/obj/Debug/GroupedItemsPage.xbf
YourHomeBar/obj/Debug/intermediatexaml/YourHomeBar.exe
YourHomeBar/obj/Debug/intermediatexaml/YourHomeBar.pdb
YourHomeBar/obj/Debug/ItemDetailPage.g.cs
YourHomeBar/obj/Debug/ItemDetailPage.g.i.cs
YourHomeBar/obj/Debug/ItemDetailPage.xaml
YourHomeBar/obj/Debug/ItemDetailPage.xbf
YourHomeBar/obj/Debug/YourHomeBar.exe
YourHomeBar/obj/Debug/YourHomeBar.pdb
